html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  margin-bottom: 60px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

.navbar {
  margin-bottom: 50px;
}

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

.blog-main .blog-post {
  margin-bottom: 30px;
}

.blog-main .blog-post img {
  max-width: 100%;
}

.blog-main .blog-post .google-map {
  width: 100%;
  height: 400px;
  border: 0;
}

@media (max-width: 768px) {
  .blog-main .blog-post .date div,
  .blog-main .blog-post .date h1,
  .blog-main .blog-post .date form {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .blog-main .blog-post .date {
    text-align: right;
    color: #aaa;
    line-height: 1.5;
  }
  .blog-main .blog-post .date .btn {
    padding: 0;
    border: none;
  }
}

.blog-main .blog-post p {
  text-align: justify;
}

.blog-main .comments {
  margin-top: 40px;
}

.blog-main .comments li {
  list-style: none;
  line-height: 1.1;
  font-size: 90%;
  margin-bottom: 15px;
}

.blog-main .comments .comment-name {
  font-weight: bold;
}
.blog-main .comments .comment-time {
  color: #aaa;
}
.blog-main .comments .comment-time:before {
  content: " on ";
}
.blog-main .comments .comment-actions {
  float: right;
}

.blog-sidebar {
  padding: 15px;
  margin: 0 -15px 15px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
