body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  padding: 80px 0;
  position: relative;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

.blog-main .blog-post {
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .blog-main .blog-post .date div,
  .blog-main .blog-post .date h1 {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .blog-main .blog-post .date {
    text-align: right;
    font-weight: bold;
    color: #aaa;
    line-height: 1.5;
  }
}

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

.blog-sidebar {
  padding: 15px;
  margin: 0 -15px 15px;
}

footer {
  padding: 20px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
  position: absolute;
  bottom: 0;
  width: 100%;
}
