<div class="row">
    <form class="form-horizontal" role="form" method="post" action="#">
      <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputName" placeholder="Name" name="name" value="{{article.title}}" {{name-attr}} />
        </div>
      </div>
      <div class="form-group">
        <label for="inputDate" class="col-sm-2 control-label">Date</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="inputDate" placeholder="Date" name="date" value="{{article.year}}-{{article.month}}-{{article.day}}" {{date-attr}} />
        </div>
      </div>
      <div class="form-group">
        <label for="inputBody" class="col-sm-2 control-label">Body</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="inputBody" placeholder="Body" name="body" rows="3" {{body-attr}}>{{article.body}}</textarea>
        </div>
      </div>
      {{CSRF-field|safe}}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Save</button>
        </div>
      </div>
    </form>
</div>
