{% extends "templates/blog_layout.html" %}
{% block blog-body %}
{% for item in items %}
<div class="row blog-post">
  <div class="date col-sm-2">
    <h1><a href="/articles/{{item.code}}">{{item.day}}</a></h1>
    <div>{{item.month-name}}</div>
    <div>{{item.year}}</div>

    {% if active-components.article-management %}
    {% ifequal session.user.role|str ":admin" %}
    <div><a class="btn" href="/articles/{{item.code}}/edit"><span class="glyphicon glyphicon-pencil"></span> Edit</a></div>
    <form method="post" action="/articles/{{item.code}}/delete">
      {{CSRF-field|safe}}
      <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-remove"></span> Delete</button>
    </form>
    {% endifequal %}
    {% endif %}
  </div>
  <div class="col-sm-10">
    {{item.body|safe}}

    {% if active-components.comment %}
    <p>
      <a href="/articles/{{item.code}}#comments">{{item.comment-count}} comment{{item.comment-count|pluralize}}</a>
    </p>
    {% endif %}
  </div>
</div><!-- /.blog-post -->
{% empty %}
<div class="row">
  <div class="date col-sm-2"></div>
  <div class="col-sm-10">
    <p class="text-center">
    There are no articles yet.
    </p>
  </div>
</div>
{% endfor %}
{% endblock %}
