{% extends "templates/layout.html" %}
{% block body %}
<div class="row">

    <div class="col-sm-8 blog-main">

        {% block blog-body %}
        {% endblock %}

        <div class="row">
            <div class="col-sm-offset-2 col-sm-10">
                <ul class="pager">
                    {% if previous-page %}
                    <li class="previous"><a href="{{previous-page}}">&larr; Newer</a></li>
                    {% else %}
                    <li class="previous disabled"><a href="#">&larr; Newer</a></li>
                    {% endif %}

                    {% if next-page %}
                    <li class="next"><a href="{{next-page}}">Older &rarr;</a></li>
                    {% else %}
                    <li class="next disabled"><a href="#">Older &rarr;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </div><!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1">

        <div class="blog-sidebar">
            <h4>Recent Posts</h4>
            <ol class="list-unstyled">
                {% for ra in recent-articles %}
                <li><a href="/articles/{{ra.code}}">{{ra.title}}</a></li>
                {% empty %}
                <li>(none)</li>
                {% endfor %}
            </ol>
        </div>

        <div class="blog-sidebar">
            <h4>Archives</h4>
            <ol class="list-unstyled">
                {% for am in archive-months %}
                <li><a href="/articles/month/{{am.year}}-{{am.month}}">{{am.month-name}} {{am.year}}</a></li>
                {% empty %}
                (none)
                {% endfor %}
            </ol>
        </div>

    </div>

</div><!-- /.row -->
{% endblock %}
