{% extends "templates/layout.html" %}
{% block body %}

{% ifequal session.user.role|str ":admin" %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Admin Panel</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/articles/compose"><span class="glyphicon glyphicon-align-left"></span> Add Post</a></li>
      <li><a href="/user"><span class="glyphicon glyphicon-user"></span> Manage Users</a></li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>
{% endifequal %}

<div class="row">

    <div class="col-sm-8 blog-main">

        {% block blog-body %}
        {% endblock %}

        <div class="row">
            <div class="col-sm-offset-2 col-sm-10">
                <ul class="pager">
                    {% if previous-page %}
                    <li class="previous"><a href="{{previous-page}}">&larr; Newer</a></li>
                    {% else %}
                    <li class="previous disabled"><a href="#">&larr; Newer</a></li>
                    {% endif %}

                    {% if next-page %}
                    <li class="next"><a href="{{next-page}}">Older &rarr;</a></li>
                    {% else %}
                    <li class="next disabled"><a href="#">Older &rarr;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </div><!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1">

        <div class="blog-sidebar">
            <h4>Recent Posts</h4>
            <ol class="list-unstyled">
                {% for ra in recent-articles %}
                <li><a href="/articles/{{ra.code}}">{{ra.title}}</a></li>
                {% empty %}
                <li>(none)</li>
                {% endfor %}
            </ol>
        </div>

        <div class="blog-sidebar">
            <h4>Archives</h4>
            <ol class="list-unstyled">
                {% for am in archive-months %}
                <li><a href="/articles/month/{{am.code}}">{{am.month-name}} {{am.year}}</a></li>
                {% empty %}
                (none)
                {% endfor %}
            </ol>
        </div>

    </div>

</div><!-- /.row -->
{% endblock %}
