<div class="row">

    <div class="col-sm-8 blog-main">

        {{#items}}
        <div class="row blog-post">
            <div class="date col-sm-2">
                <h1>{{day}}</h1>
                <div>{{month-name}}</div>
                <div>{{year}}</div>
            </div>
            <div class="col-sm-10">
                {{{body}}}
            </div>
        </div><!-- /.blog-post -->
        {{/items}}
        {{^items}}
        <div class="row">
            <div class="date col-sm-2"></div>
            <div class="col-sm-10">
                <p class="text-center">
                  There are no articles yet.
                </p>
            </div>
        </div>
        {{/items}}

        <div class="row">
            <div class="col-sm-offset-2 col-sm-10">
                <ul class="pager">
                    {{#previous-page}}
                    <li class="previous"><a href="{{previous-page}}">&larr; Newer</a></li>
                    {{/previous-page}}
                    {{^previous-page}}
                    <li class="previous disabled"><a href="#">&larr; Newer</a></li>
                    {{/previous-page}}

                    {{#next-page}}
                    <li class="next"><a href="{{next-page}}">Older &rarr;</a></li>
                    {{/next-page}}
                    {{^next-page}}
                    <li class="next disabled"><a href="#">Older &rarr;</a></li>
                    {{/next-page}}
                </ul>
            </div>
        </div>

    </div><!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1">

        <div class="blog-sidebar">
            <h4>Recent Posts</h4>
            <ol class="list-unstyled">
                {{#recent-articles}}
                <li><a href="/articles/{{code}}">{{title}}</a></li>
                {{/recent-articles}}
                {{^recent-articles}}
                <li>(none)</li>
                {{/recent-articles}}
            </ol>
        </div>

        <div class="blog-sidebar">
            <h4>Archives</h4>
            <ol class="list-unstyled">
                {{#archive-months}}
                <li><a href="/articles/month/{{code}}">{{month-name}} {{year}}</a></li>
                {{/archive-months}}
                {{^archive-months}}
                (none)
                {{/archive-months}}
            </ol>
        </div>

    </div>

</div><!-- /.row -->
